.td_error {
    border: solid 1px #bf0910;
    background-color: #fae7e1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#td_cancel_edit_term {
    margin-left: 5em;
}

#td_link {
    width: 60%;
}

#td_update_permalinks {
    text-align: right;
    margin-bottom: 2em;
}

.tools_form {
    margin: 1em 0 2em 0;
}

th.short {
    width: 15%;
}

div.description {
    color: #777;
    font-style: italic;
    margin: 1em 0 1em 0;
}

.ui-autocomplete {
    max-height: 200px;
    max-width: 600px;
    overflow-y: auto;
    overflow-x: auto;
}

#save_term_spinner {
    float: none;
}

.form-divider {
    margin-bottom: 2em;
}

.ui-widget-overlay {
    opacity: 0.3;
    background-color: #111;
}

.ui-widget-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.update-permalinks-dialog  {
    -webkit-box-shadow:0 5px 15px rgba(0,0,0,.7);
    -moz-box-shadow:0 5px 15px rgba(0,0,0,.7);
    box-shadow:0 5px 15px rgba(0,0,0,.7);
    background-color: #eee;
}

.update-permalinks-dialog .ui-dialog-title {
    display: block;
    text-align: center;
    padding: 0;
}

.update-permalinks-dialog .ui-dialog-titlebar {
    padding: 0 1em;
    background-color: #444;
    font-size: 13px;
    line-height: 24px;
    color: #fff;
}

.update-permalinks-dialog .ui-dialog-titlebar-close {
    position: absolute;
    cursor: pointer;
    -webkit-appearance: none;
    border: 0;
    width: 30px;
    height: 20px;
    top: 1px;
    right: 6px;
    background: 0 0;
}

.update-permalinks-dialog .ui-dialog-titlebar-close:before {
    content: '\f158';
    font: 400 20px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #999;
    padding-left: 6px;
}

.ui-dialog-content {
    margin: 1em;
}

#terms_filter .td_remove_selected {
    padding-top: 0px;
}

th.td-check-column {
    padding: 11px 0 0 3px;
}

.td-check-column {
    padding: 11px 0 0 3px;
    width: 2.2em;
    vertical-align: top;
}