.td_error {
    border: solid 1px #bf0910;
    background-color: #fae7e1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#td_cancel_edit_term {
    margin-left: 5em;
}

#td_link {
    width: 50em;
}

#td_update_permalinks {
    text-align: right;
    margin-bottom: 2em;
}

.tools_form {
    margin: 1em 0 2em 0;
}

th.short {
    width: 15%;
}

div.description {
    color: #777;
    font-style: italic;
    margin: 1em 0 1em 0;
}